.table {

    width: 100%;
    min-width: 800px;
    table-layout: fixed;

    thead {
        @apply text-grey-1;

        tr {
            @apply bg-black-2;

            th:first-child {
                @apply rounded-l-lg;

            }

            th:last-child {
                @apply rounded-r-lg;

            }
        }
    }

    tbody {
        tr {
            border-bottom: 1px solid #1C1C1C;

            &:first-child {
                td {
                    height: 80px;
                    vertical-align: bottom;
                    padding-bottom: 20px;
                }
            }
        }
    }

    th {
        height: 55px;
        @apply font-normal;
        text-align: left;
        padding: 0 20px;

        &:first-child {
            padding-left: 20px;
        }
    }

    td {
        @apply font-normal;
        text-align: left;
        padding: 0 20px;
        height: 70px;


        &:only-child {
            text-align: center;
        }

        &:first-child {
            padding-left: 20px;
        }
    }

}